<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb0730.sys.mapper.SysProductMapper">
    <insert id="saveMenus">
        INSERT INTO `sys_product_permission` (product_id, permission_id)
        VALUES
        <foreach collection="permissionIds" item="permissionId" separator="," open="" close="">
            (#{id}, #{permissionId})
        </foreach>
    </insert>
</mapper>